$backColor: #FFB90F;
$textColor: #4F4F4F;
$buttonTextColor: #ffffff;
$backInputColor: 	#FFFAFA;
$colorTw: #1E90FF;
$colorFB: #0000CD;
$colorGoo: #CD2626;
$colorLogin: #00EE76;
$colorSignUp: #32CD32;
$mainSize: 14px;
$mainFontFamily: "Tahoma";
$standartWidth: 230px;
$standartHight: 25px;
$standartMargin: 40px;

* {
    margin: 0;
    padding: 0;
  }

.wrapper{
	position: relative;
	z-index: 5;
	height: 100%;
  min-height: 900px;
  background: $backColor;
}

.wrapper_form{
  box-sizing: border-box;
	position: absolute;
	z-index: 5;
	background: white;
  font-family: $mainFontFamily;
  font-size: $mainSize;
  color:$textColor;
	margin-top: 4%;
	margin-left: 17%;
	height: 780px;
	width: 800px;
	text-align: left;
  box-shadow: -5px 5px 20px 3px rgba(33,30,33,0.44);
}
.form-header{
  font-size: $mainSize + 5px;
  margin-bottom: 15px;
}
.form{
  box-sizing: border-box;
  display: block;
  width: calc(50% - 1px);
  padding-top: $standartMargin + 10px;
}
.login-form{
  box-sizing: border-box;
  float: left;
  padding-left: $standartMargin;
}
.input{
  width: $standartWidth;      //for all inputs
  height: $standartHight;
  background: $backInputColor;
  border: 0.1px solid rgba(217,214,217,0.5);
}
.login-form__input{
    width: $standartWidth + 40px;
    height: $standartHight;
    margin: 5px 0 5px;
    margin-bottom: 10px;
    background: $backInputColor;
    border: 0.1px solid rgba(217,214,217,0.5);
}
.input-icon{
  position: absolute;
  z-index: 10;
  margin-left: -15px;
  margin-top: 14px;
}
.login-button,.sign-button{
  background: $backColor;
  width: $standartWidth / 2 + 20px;
  border-radius: 1px;
  color: $buttonTextColor;
  font-size: $mainSize + 3px;
  font-weight: bold;
  height: $standartHight;
  border: none;
}
.login-button{
   margin-top: 10px;
}
.password-renewal{
  font-weight: bold;
  text-align: right;
  font-size: $mainSize - 2px;
  margin-right: 23%;
  margin-top: 16px;
  float: right;
}
.social-button-box{
  width: $standartWidth + 60px;
}
.social-button{
  width: calc(32% - 5px);
  height: $standartHight - 4px;
  display: block;
  border: none;
  border-radius: 1px;
  color: $buttonTextColor;
  font-size: $mainSize;
  float: left;
  margin-right: 8px;
  text-align: left;
  vertical-align: top;
  font-size: $mainSize - 1px;
  font-weight: bold;
}

.twit{
  background: $colorTw;
}
.fb{
  background: $colorFB;
}
.social-button.goo{
  background: $colorGoo;
  margin-right: 0;
}
.social-button img{
  margin-right: 5px;
  background-color: #ffffff;
  vertical-align: middle;
}
.sign-in-with{
  width: $standartWidth + 60px;
  display: inline-block;
}
.line{
  display: inline-block;
  width: calc(30% - 5px);
  padding-top: 5px;
  float: left;
  margin: 15px auto;
}
.between{
  width: 35%;
  padding-top: 0;
  margin-left: 3px;
  margin-right: 3px;
}
.registration-form{
  box-sizing: border-box;
  float: right;
  padding-right: $standartMargin;
}
.registration-form-field{
  height: $standartHight;
  margin-bottom: $standartMargin / 5;
}
.registration-form-field .input {
  float: right;
  background: $backInputColor;
}
.registration-form-field span{
    vertical-align: middle;
}
.registration-form-field>.birth{
  float: left;
}
.input.date-of-birth{
  width: $standartWidth / 8;
  float: left;
  margin-right: 3px;
  font-size: $mainSize;
  text-align: center;
  vertical-align: middle;
  background: $backInputColor;

}
.input.date-of-birth.mm{
  margin-left: 11%;
}
.input.date-of-birth.year{
  width: $standartWidth / 5;
}
.gender{
    width: $standartWidth / 4 + 3px;
    text-align: right;
    float: right;
    color: $textColor;
    font-size: $mainSize - 1px;
    height: $standartHight;
    background: $backInputColor;
    border: 0.1px solid rgba(217,214,217,0.5);
}
.gender-area{
    margin-left: 8px;
}
.tarea{
  height: 50px;
  margin-bottom: 10px;
}
.adress-block{
  margin-left: 35%;
}
.adress-block__city,.adress-block__state{
  display: inline-block;
  float: left;
  width: ($standartWidth / 2) - 5px;
}

.input.city,.input.state{
    display: inline-block;
    float: left;
    background: $backInputColor;
    border: 0.1px solid rgba(217,214,217,0.5);
    width: ($standartWidth / 2) - 5px;
}
.adress-block__state{
  margin-left: 8px;
  margin-bottom: 0;
}
.adress-block .input{
  margin-top: 5px;
  margin-bottom: 5px;
}
.signup{
  background: $colorSignUp;
  margin-top: 10px;
}
.check{
  height: 10px;
  width: 10px;
  /*box-shadow: 0px 0px 5px 1px rgba(5,5,255,0.46);*/
}
.agree{
    font-size: $mainSize - 1px;
    font-weight: bold;
    vertical-align: top;
}
.agree-window {
    display: block;
    margin-top: $standartMargin;
    margin-left: -55%;
    /*margin-bottom: $standartMargin + 20px;*/
    width: 380px;
    padding: 10px 5px;
    border: 0.5px solid #d3d3d3;
    font-size: $mainSize - 3px;
    font-weight: 300;
    text-align: center;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5); }
.agree-window a {
      text-decoration: none; }
