//color
$backColor: #FFB90F;
$textColor: #4F4F4F;
$buttonTextColor: #ffffff;
$buttonBackActiveColor: #334432;
$colorTw: #1E90FF;
$colorFB: #0000CD;
$colorGoo: #CD2626;
$colorLogin: #00EE76;


$mainSize: 14px;
$fontFamily: "Helvetica";


$countBlocks: 5;
$ColorForTask3: purple;
$StandartMargin: 30px;
$standartButtonWidth: 300px;
$ColorOdd: MidnightBlue;
$ColorEven: Yellow;

.social-button{
	background: $colorGoo;
}